# Node dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/build

# Test coverage
/coverage

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Netlify local dev
.netlify

# Temporary files
tmp/
temp/

# Misc
.Dockerfile
.dockerignore
pm2.log
.pm2/
ssl/